
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1% 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.vitrine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 8%;
  width: 25vw;
  height: 25vw;
  justify-content: space-evenly;
  
}

.produto img {
  max-width: 80%;
  height: auto;
  max-height: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  /* justify-items: end; */
  /* align-items: stretch; */

}

.qty-info {
  display: flex;
  /* background-color: red; */
  /* padding: 10px; */
}

.qty-info .quantidade {
  margin-right: 10%;
}

.quantidade {
  /* margin-right: 10%; */
  font-weight: bold;
  color: #e44d26;
}




button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10% 2%;
  cursor: pointer;
  font-weight: bold;
  height: 3vh;
  width: 20vw;
  border-radius: 4px;
}
.semestoque{
  background-color: #f1e8e5;
  color: #ffffff;
  border: none;
  /* padding: 1% 2%; */
  cursor: pointer;
  font-weight: bold;
  /* border-radius: 5px; */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2% 0;
}


@media screen and (max-width: 480px) {

  nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  nav ul li {
    margin: auto;
  }

  .vitrine {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    /* width: 100%; */
  }

  .produto {
    width: auto;
    height: auto;
  }

  button {
    padding: 1vh 2vw;
    height: fit-content;
    width: auto;
  }

  .semestoque {
    height: fit-content;
    width: auto;
  }
}


@media screen and (min-width: 481px) and (max-width: 900px) {
  .vitrine {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    padding: 20px;
    /* width: 100%; */
  }

  .produto {
    /* width: 20vw; */
    height: 30vh;
    /* height: auto; */
  }

  .produto img {
    height: auto;
    width: 20vw;
    max-width: fit-content;
  }

  button {
    padding: 1vh 2vw;
    height: fit-content;
    width: auto;
  }

  .semestoque {
    height: fit-content;
    width: auto;
    text-wrap: nowrap;
  }
}